.outer-box {
  width: 100px;
  height: 100px;
  background: $blue;
  .inner-box {
    width: 70px;
    height: 70px;
    background: $orange;
    .nested-box {
      width: 40px;
      height: 40px;
      background: $pink;
    }
  }
}
